@use "sass:map";
@use "sass:meta";

@mixin flex-center($direction: row, $gap: 0, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 900px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

